# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
.DS_Store

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

rails/config/application.yml
rails/config/couchdb.yml
rails/config/database.yml

# Misc
.idea
